.box{
    width:100%;
    background-color: #fff;
    padding:1rem;
    margin-top:1rem;
}
.box .box-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box .box-heading .title{
    font-size:1.2rem;
    margin-bottom:1rem;
}
.box .box-heading .live-banner{
    background-color: red;
    color:#fff;
    padding:0.5rem 1rem;
    border-radius:14px 0 14px 0;
    font-size: 0.8rem;
}
.box .box-heading .view-all-banner{
    color:blue;
    font-size: 0.8rem;
    cursor: pointer;
}
.box .session-container{
    overflow-x: auto;
    width:100%;
    /* height:160px; */
    white-space: nowrap;
}
.box .session-container::-webkit-scrollbar {
    display: none;
}
.box .session-container {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.session{
    height: 130px;
    width:max-content;
    display:inline-flex;
    cursor: pointer;
    padding-right:3rem;
}
.session img{
    max-height: 100%;
    max-width:100%;
    width: auto;
}
.session .session-content{
    margin:0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.session .subject{
    /* color:rgb(253, 89, 116); */
    font-size:0.9rem;
}
.session .topic{
    font-weight: 600;
    font-size:1.1rem;
    margin-top: 7px;
}
.session .time{
    color:grey;
    font-size: 0.9rem;
    margin-top: 7px;
}
.session .teacher{
    font-size:1rem;
    margin-top: 7px;
}
