.viewall{
    height:100vh;
    width:100%;
    overflow-y: auto;
}
.viewall .heading{
    display: flex;
    align-items: center;
    margin:1.5rem 0 1.5rem 0;
}
.viewall .heading img{
    height:20px;
    width:auto;
    margin-right:10px;
    cursor: pointer;
}
.viewall .heading p{
    font-size:1.2rem;
}
.viewall-box{
    background-color: #fff;
    padding:1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:auto;
}
.viewall-box .session-info{
    display: flex;
    align-items: center;
}
.viewall-box .session-info .active{
    color:blue;
    margin-right:10px;
    cursor: pointer;
}
.viewall-box .session-info p{
    color:rgb(155, 155, 252);
    margin-right:10px;
}
.viewall-box .session-info img{
    height:15px;
    width:auto;
}
.viewall::-webkit-scrollbar {
    display: none;
}
.viewall {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}