body{
    background-color:#E4E4E4;
    font-family: 'Roboto', sans-serif;
    /* font-family:'nunito'; */
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin:0 5rem;
}
.paragraph{
    color:rgb(27, 27, 27);
    font-size: 1.1rem;
    margin:1rem 0;
}
@media (max-width: 400.98px) {
    .container{
        margin:0 0.5rem;
    }
    .session{
        height: 100px;
    }
    /* .box .session-container{
        width:100%;
    } */
    .viewall-box{
        width:max-content;
    }
    
}
@media (min-width: 401px) and (max-width: 767.98px) {
    .container{
        margin:0 0.5rem;
    }
    .session{
        height: 100px;
    }
    .viewall-box{
        width:max-content;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) {
    .viewall-box{
        width:max-content;
    }

}